{% set model = model ? model : 'data.record' %}

<div class="{{ bs.fg }}">
    <label for="{{ model }}.enable" class="col-sm-2 control-label">Enable</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="checkbox" name="{{ model }}.enable" ng-model="{{ model }}.enable" />
        </div>
    </div>
</div>
{#<div class="{{ bs.fg }}">
    <label for="{{ model }}.effectiveDate.date" class="col-sm-2 control-label">Effective Date *</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input kendo-date-time-picker
                   k-format="'yyyy/MM/dd hh:mm tt'"
                   k-ng-model="effectiveDate"
            />
        </div>
    </div>
</div>#}

<div class="{{ bs.fg }}">
    <label for="{{ model }}.effectiveDate.date" class="col-sm-2 control-label">Effective Date *</label>
    <div class="col-sm-10">
{#        <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" 
                   name="{{ model }}.effectiveDate.date"
                   required
                   ng-model="{{ model }}.effectiveDate.date"
                   is-open="openEffectiveDate"
                   ng-focus="openEffectiveDate = true"
            />
            <span class="input-group-btn" opened="openEffectiveDate" zms-effective-date-button></span>
        </div>
#}
        <div class="dropdown">
            <a class="dropdown-toggle" id="dropdownEffectiveDate" role="button"
               data-toggle="dropdown" data-target="#" href="#"
            >
                <div class="input-group">
                    <input type="text" class="form-control" value="{[{ {{ model }}.effectiveDate.date | date : 'yyyy-MM-dd hh:mm:ss' }]}" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-up" role="menu" aria-labelledby="dLabel">
                <datetimepicker
                    ng-model="{{ model }}.effectiveDate.date"
                    data-datetimepicker-config="{ dropdownSelector: '#dropdownEffectiveDate' }"
                />
            </ul>
        </div>
    </div>
</div>

<div class="{{ bs.fg }}">
    <label for="{{ model }}.expiryDate.date" class="col-sm-2 control-label">Expiry Date</label>
    <div class="col-sm-10">
{#        <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" 
                   name="{{ model }}.expiryDate.date"
                   ng-model="{{ model }}.expiryDate.date"
                   is-open="openExpiryDate"
                   ng-focus="openExpiryDate = true" />
            <span class="input-group-btn" opened="openExpiryDate" ng-model="{{ model }}.expiryDate.date" zms-expiry-date-button></span>
        </div>#}
        <div class="dropdown">
            <a class="dropdown-toggle" id="dropdownExpiryDate" role="button"
               data-toggle="dropdown" data-target="#" href="#"
            >
                <div class="input-group">
                    <input type="text" class="form-control" value="{[{ {{ model }}.expiryDate.date | date : 'yyyy-MM-dd hh:mm:ss' }]}" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <span class="input-group-addon" ng-click="{{ model }}.expiryDate = null"><i class="glyphicon glyphicon-remove"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-up" role="menu" aria-labelledby="dLabel">
                <datetimepicker
                    ng-model="{{ model }}.expiryDate.date"
                    data-datetimepicker-config="{ dropdownSelector: '#dropdownExpiryDate' }"
                />
            </ul>
        </div>
    </div>
</div>