{#
embed: zmsTable
block:
    form
    searchBtn
    belowSearch
    tr
parameters:
    ngInit
    crud
    params  JSON    for zms-table (ng-table)
    delay   JSON    name-value pair, zms-table will $scope.$watch [value] and append the listUrl with &[name]=[value]
#}
<div class="col-md-12">
    <br />
    <div
        class="zms-table"
        restful-crud="{{ crud ?: 'record' }}"
        params="{{ params }}"
        delay="{{ delay }}"
        ng-init="loaded = false"
    >
        <div class="recordList">
            {% if search is null or search != false %}
                <div class="panel panel-default" ng-init="searchForm = {{ searchForm ?: "false" }}">
                    <div class="panel-heading cursor-pointer" ng-click="searchForm = ! searchForm">
                        <h3 class="panel-title">
                            <span ng-show="searchForm" class="glyphicon glyphicon-minus"></span><span ng-show="! searchForm" class="glyphicon glyphicon-plus"></span>
                            Search
                        </h3>
                    </div>
                    <div class="panel-body" ng-show="searchForm">
                        <form name="form" class="form-horizontal" role="form">
                            {% block form %}Search form {% endblock %}
                            {% block searchBtn %}
                                <div class="{{ bs.fg }}">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="{{ bs.btn._ }}" ng-click="{{ crud ?: 'record' }}NgTable.reload()">Search</button>
                                    </div>
                                </div>
                            {% endblock %}

                        </form>
                    </div>
                </div>
            {% endif %}
            {#
                    <button ng-click="table.reload()" class="{{ bs.btn._ }}">Reload</button>
                    <button ng-click="table.sorting({})" class="{{ bs.btn._ }}">Clear sorting</button>
                    <button ng-click="recordInfo.add()" class="{{ bs.btn._ }}">Add New</button>
            #}
            {% block belowSearch %}
                <a href="#record/0" class="{{ bs.btn._ }}">Add</a>
            {% endblock %}
            Total <span class="badge">{[{ {{ crud ?: 'record' }}NgTable.total() }]}</span> record(s) found.

            <div loading-container="{{ crud ?: 'record' }}NgTable.settings().$loading">
                <div class="jumbotron" ng-show="! {{ crud ?: 'record' }}NgTableRaw.loaded"><h2>Loading ...</h2></div>
                <table ng-table="{{ crud ?: 'record' }}NgTable" ng-show="{{ crud ?: 'record' }}NgTableRaw.loaded" show-filter="false" class="table table-hover table-condensed">
                    <tbody>
                        {% block tr %}Tr goes here{% endblock %}
                    </tbody>
                </table>
            </div>
        </div><!--/ recordList -->
    </div>
</div>